.card 
    .card-header
        h1.h3 Chat group 
    .card-body
        ul#box-messages.list-group(type='text' placeholder='Messages')
    .card-footer
        form#form-chat
            input#message.form-control(type='text' placeholder="Message" aria-label="Message" aria-describedby='button-addon2')
            button#button-addon2.btn.btn-primary.form-control(type='sumbit') Send
                