extends ../templates/basic

block main
    nav.navbar.navbar-expand-lg.bg-dark
        h1.h3.text-center= `Hello ` 
            span#username= username

    .col-lg-5.mx-auto.pt-3
        include ../partials/form.pug

block footer
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/chat.js") 