<div class="mover"></div>
<div class="mover1"></div>
<div class="mover2"></div>
<div class="mover3"></div>

<style>
  .mover,
  .mover1,
  .mover2,
  .mover3 {
    background-color: rgb(128, 128, 128, 0.01);
    box-shadow: inset 0 25px 70px rgba(255, 255, 255, 0.01);
    border: blur(0.1px) solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(0.1px);
    border-radius: 50%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -9999;
    will-change: transform;
    pointer-events: none;
    /* mix-blend-mode: difference; */
  }
  .mover {
    --size: 250px;
    width: var(--size);
    height: var(--size);
    transform: translate(
        calc(var(--mouse-x) - 115px),
        calc(var(--mouse-y) - 115px)
      )
      translateZ(0);
    transition: none;
  }
  .mover1 {
    width: 350px;
    height: 350px;
    transform: translate(
        calc(var(--mouse-x) - 165px),
        calc(var(--mouse-y) - 165px)
      )
      translateZ(0);
    transition: none;
  }
  .mover2 {
    width: 450px;
    height: 450px;
    transform: translate(
        calc(var(--mouse-x) - 215px),
        calc(var(--mouse-y) - 215px)
      )
      translateZ(0);
    transition: none;
  }
  .mover3 {
    width: 550px;
    height: 550px;
    transform: translate(
        calc(var(--mouse-x) - 265px),
        calc(var(--mouse-y) - 265px)
      )
      translateZ(0);
    transition: none;
  }

  @media screen and (max-width: 600px) {
    .mover,
    .mover1,
    .mover2,
    .mover3 {
      display: none;
    }
  }
</style>

<script>
  let mover: HTMLElement = document.querySelector(".mover");
  let mover1: HTMLElement = document.querySelector(".mover1");
  let mover2: HTMLElement = document.querySelector(".mover2");
  let mover3: HTMLElement = document.querySelector(".mover3");

  document.addEventListener("mousemove", (e) => {
    mover.style.setProperty("--mouse-x", e.clientX + "px");
    mover.style.setProperty("--mouse-y", e.clientY + "px");

    mover1.style.setProperty("--mouse-x", e.clientX + "px");
    mover1.style.setProperty("--mouse-y", e.clientY + "px");

    mover2.style.setProperty("--mouse-x", e.clientX + "px");
    mover2.style.setProperty("--mouse-y", e.clientY + "px");

    mover3.style.setProperty("--mouse-x", e.clientX + "px");
    mover3.style.setProperty("--mouse-y", e.clientY + "px");
  });

  //   document.addEventListener("click", (e) => {
  //     mover.style.backgroundColor = `hsl(${
  //       Math.random() * 360
  //     }, 100%, 50%)`;
  //   });

  //   document.addEventListener("keydown", (e) => {
  //     if (e.key === " ") {
  //       mover.style.backgroundColor = `hsl(${
  //         Math.random() * 360
  //       }, 100%, 50%)`;
  //     }
  //   });
</script>
