---
import MulticolorWord from "./MulticolorWord.astro";
---

<div class="text-[15px]">
  <p class="mb-4">
    Mi nombre es <MulticolorWord word="Jose" />
    <MulticolorWord word="Flores" /> pero en el mundo del desarrollo soy conocido
    como <MulticolorWord word="JfloresXc" /> debido a un apodo gamer en mi adolescencia.
  </p>
  <p class="mb-4">
    Inicié mi carrera como <MulticolorWord word="desarrollador" />
    <MulticolorWord word="web" /> en el año 2019. Para mí aprender a programar era
    más <MulticolorWord word="un" />
    <MulticolorWord word="deber" /> debido a los mitos universitarios. Dentro de
    esta fui parte de <MulticolorWord word="Comutec" />, una comunidad en la
    cuál descubrí que debo utilizar más la lógica y la creatividad para tener
    grandes resultados.
  </p>

  <p class="mb-8">
    Hoy en día, luego de 4 años, es una <MulticolorWord word="satisfaciente" />
    <MulticolorWord word="realidad" /> que me dirigió a impulsar proyectos tanto
    personales como laborales. Además junto a la <MulticolorWord word="IEEE" />{
      " "
    }
    <MulticolorWord word="Students" />{" "}
    <MulticolorWord word="Society" />{" "}
    <MulticolorWord word="Untels" /> brindar ponencias, dar cursos, compartir tips
    para iniciantes como amigos y mucho más.
  </p>

  <img
    alt="Jose Flores Chamba - Desarrollador Web - Ponencia frente al escenario de la IEEE Untels"
    loading="lazy"
    class="rounde-md border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1 max-h-[220px] w-full object-cover object-center"
    src={`/storage/ponencia-fvb.webp`}
  />
</div>
